extends _layout/layout

block variables
	- var title = 'Home'
	- var description = 'Description for home page'
	- var bodyclass = 'home'

block body
	section.home
		.container
			.row
				.col
					.box
						.title
							.row.title1
								.col-sm-5
									h2 Samsung Galaxy Note 9
									h4 22,900,000 đ
								.col-sm-7
									a(href="#") Xem chi tiết
						.content
							.row
								.col-md-5
									img.img-fluid(src="https://cdn.tgdd.vn/Products/Images/42/154897/samsung-galaxy-note-9-black-400x460-400x460.png", alt="")
								.col-md-7.cnt
									.row
										.col
											h2 Smartphone hàng đầu Hàn Quốc
											h3 Giảm giá 20% cho đơn hàng Online
									.row
										.col-sm-4 
											img.img-fluid(src="http://genknews.genkcdn.vn/2018/7/25/1-15325146869591222021731.jpg", alt="")
										.col-sm-8
											h4 Tặng kèm sạc dự phòng
											h4 Phiếu mua hàng trị giá 200,000đ
							.row.mt-4
								.col.text-center
									.mua
										a(href="#") mua ngay