extends _layout/layout

block variables
	- var title = 'Home'
	- var description = 'Description for home page'
	- var bodyclass = 'home'

block body
	section.home
		.container
			.row
				.box
					.row.title
						.col
							h4 Samsung Galaxy Note 8 &nbsp
								a(href="#") Xem chi tiết
							p 22.400.000 đ
					.row.content
						.col-md-4
							img.img-fluid(src="https://www.mainguyen.vn/img/2017/08/product/colors/l/GalaxyNote8_Midnight_Black.jpg", alt="note8")
						.col-md-8
							.noidung
								.row
									h3 Khuyến mãi hấp dẫn
								.row.giamgia
									p Giảm giá 3,300,000 (chỉ còn 19,990,000đ)
								.row
									h5 hoặc
								.row
									.col-md-3
										img.img-fluid(src="https://cdn2.gsmarena.com/vv/bigpic/samsung-galaxy-note-8-sm-n950.jpg", alt="")

									.col-md-7.cnt
										p Tặng 1 Samsung Galaxy 
										p Trị giá: 2,990,000đ
								.row
									a.btn.btn-light(href="") MUA NGAY
