body
	background: #dfdfdf
.box
	background: #ffffff
	border-radius: 5px
	border: 2px solid red
.title
	background: red
	padding: 1rem 1.5rem
	color: white
	a
		color: #fff

.content
	padding: 2rem
	.mua
		background: red
		border-radius: 2rem
		padding: 1rem 2rem
		display: inline-block
		text-transform: uppercase
		text-decoration: none

