.home
	display: flex
	justify-content: center
	align-items: center
	.box
		border-radius: 1rem
		border: 1px solid #ed492e
		max-width: 900px
		
		.content
			padding: 3rem
		.title
			border-top-left-radius: 0.8rem
			border-top-right-radius: 0.8rem
			border: 1px solid #ed492e
			margin: 0
			background:#ed492e
			h4 
				font-weight: bold
				color: white
				a 
					color: yellow
			p 
				color: yellow
				font-size: 2rem
				font-weight: bold
		img 
			margin-left: 1rem
		h5
			color: lighten(#000, 50%)
			font-style: italic
		.giamgia
			font-size: 25px
		h3
			color: #747070
		.noidung
			font-size: 20px
		.btn
			border-radius: 30px
			background: #ed492e!important
			width: 150px
			padding: 1rem
			display: flex
			justify-content: center
			align-items: center
			margin-top: 2.5rem
			margin-left: 6rem
			font-weight: bolder
			font-size: 20px
			color: white
